.Auth{
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 20px 0;
}
.AuthForm{
  width: 50%;
  align-self: center;
  display: flex;
  flex-flow: column;
  height: 40%;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: 0px 1px 1px;
  border-radius: 10px;
  padding: 20px;
}